.signature-pad {
  margin: 100%;
  height: 100%;
}

.signature-pad--body {
  min-height: 100%;
}

.signature-pad--actions {
  overflow: hidden;
}

.signature-pad--actions > div:first-child {
  float: left;
}

.signature-pad--actions > div:last-child {
  float: right;
}
